SHELL_PORT=3000
POSTS_CRUD_PORT=4200
USERS_CRUD_PORT=4201
KEYCLOAK_PORT=8080
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=atividadengx
KEYCLOAK_CLIENT_ID=frontend
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
VITE_KEYCLOAK_URL=http://localhost:8080
VITE_KEYCLOAK_REALM=atividadengx
VITE_KEYCLOAK_CLIENT_ID=frontend
